@model MvcOnlineTicariOtomasyon.Models.Classes.Hareketler.SatisHareket
@{
    ViewData["Title"] = "SatisGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h1>Satış Güncelleme Sayfası</h1>
<br />

@using (Html.BeginForm("SatisGuncelle", "Satis", FormMethod.Post))
{
    @Html.HiddenFor(x => x.SatisId)

    @Html.LabelFor(x => x.Urun)
    @Html.DropDownListFor(x => x.UrunId, (List<SelectListItem>)ViewBag.UrunList, new { @class = "form-control", style = "width:25%;" })

    <br />
    @Html.LabelFor(x => x.Cari)
    @Html.DropDownListFor(x => x.CariId, (List<SelectListItem>)ViewBag.CariList, new { @class = "form-control", style = "width:25%;" })
    <br />
    @Html.LabelFor(x => x.Personel)
    @Html.DropDownListFor(x => x.PersonelId, (List<SelectListItem>)ViewBag.PersonelList, new { @class = "form-control", style = "width:25%;" })
    <br />
    @Html.LabelFor(x => x.Adet)
    @Html.TextBoxFor(x => x.Adet, new { @class = "form-control", style = "width:25%;" })
    <br />
    @Html.LabelFor(x => x.Fiyat)
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control", style = "width:25%;" })
    <br />
    @Html.LabelFor(x => x.ToplamTutar)
    @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control", style = "width:25%;" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control", style = "width:25%;" })
    <br />
    <button class="btn btn-warning">Güncelle</button>

}


