@using MvcOnlineTicariOtomasyon.Models.Classes
@model Personel
@{
    ViewData["Title"] = "PersonelEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yeni Personel Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.PersonelAd)
    @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control", style = "width:25%;" })
    <br />
    @Html.LabelFor(x => x.PersonelSoyad)
    @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control", style = "width:25%;" })
    <br />
    @Html.LabelFor(x => x.PersonelGorsel)
    @Html.TextBoxFor(x => x.PersonelGorsel, new { @class = "form-control", style = "width:25%;" })
    <br />
    @Html.LabelFor(x => x.Departman)
    @Html.DropDownListFor(x => x.DepartmanId, (List<SelectListItem>)ViewBag.departmanList, new { @class = "form-control", style = "width:25%;" })
    <br />
    @*@Html.LabelFor(x => x.Durum)
    @Html.CheckBoxFor(x => x.Durum, new { @class = "form-control" })
    <br />*@
    <button class="btn btn-primary">Kaydet</button>
</form>

